:root {
  --primaryColor: #ff3452;
  --secondaryColor: #ece0c8;
  --pColor: #282c34;
  --BgColor: #f6f7f8;
  --txtColor: #21252b;
  --greyColor: #6e6e6e;
  --nbBgColor: hsl(40, 49%, 85%, 50%);
  --headerHeight: 3rem;
  --box-shadow: 0 2px 4px hsl(216, 13%, 15%, 50%);
}

.home .homeContainer {
  padding: 4rem 1.5rem;
}
.home .homeContainer .introTxt {
  gap: 10px;
  font-size: 1.3rem;
  color: var(--primaryColor);
  font-weight: 600;
  letter-spacing: 1px;
}
.home .homeContainer .info .title {
  font-size: 3.3rem;
  font-weight: 600;
  color: var(--txtColor);
  padding: 0.7rem 0;
}
.home .homeContainer .subTitle {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--greyColor);
  line-height: 2rem;
  padding: 0.5rem 0;
}
.home .homeContainer .homeParagraph {
  font-size: 1rem;
  padding: 0.6rem 1rem;
  color: var(--greyColor);
  padding: 1rem 0;
  max-width: 600px;
}
.home .homeContainer .lowerHomeSection .contactBtn {
  padding: 0.6rem 1rem;
  background: var(--primaryColor);
  color: var(--BgColor);
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--primaryColor);
}
.home .homeContainer .lowerHomeSection .contactBtn:hover {
  background: transparent;
  border: 2px solid var(--primaryColor);
}
.home .homeContainer .lowerHomeSection .contactBtn:hover a {
  color: var(--txtColor);
}
.home .homeContainer .lowerHomeSection .contactBtn a {
  font-size: 18px;
  font-weight: 600;
  gap: 0.5rem;
  align-items: center;
  color: var(--secondaryColor);
}
.home .homeContainer .lowerHomeSection .contactBtn a:hover {
  color: var(--txtColor);
}
.home .homeContainer .lowerHomeSection .scrollDiv {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}
.home .homeContainer .lowerHomeSection .scrollDiv .scroll {
  font-size: 1rem;
  color: var(--primaryColor);
}
.home .homeContainer .lowerHomeSection .scrollDiv .icon {
  font-size: 1.3rem;
  margin-left: 0.6rem;
  color: var(--primaryColor);
  animation: move 0.5s infinite;
}
@keyframes move {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@media screen and (min-width: 480px) {
  .home .homeContainer {
    padding: 5rem 1.5rem;
  }
  .home .homeContainer .introTxt {
    font-size: 1.5rem;
  }
  .home .homeContainer .title {
    font-size: 3.5rem;
  }
  .home .homeContainer .subTitle {
    font-size: 2.1rem;
  }
  .home .homeContainer .homeParagraph {
    font-size: 1.5rem;
  }
  .home .homeContainer .lowerHomeSection .contactBtn {
    padding: 0.8rem 1.5rem;
  }
  .home .homeContainer .lowerHomeSection .contactBtn a {
    font-size: 22px;
  }
  .home .homeContainer .scrollDiv {
    padding-top: 1.5rem;
  }
  .home .homeContainer .scrollDiv .icon {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 770px) {
  .home .homeContainer {
    padding: 5rem 1.5rem;
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 1240px) {
  .home .homeContainer {
    padding: 6rem;
  }
  .home .homeContainer .introTxt {
    font-size: 1.5rem;
  }
  .home .homeContainer .title {
    font-size: 5rem;
  }
  .home .homeContainer .subTitle {
    line-height: 2.5rem;
    font-size: 2.4rem;
  }
  .home .homeContainer .homeParagraph {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=home.css.map */