:root {
  --primaryColor: #ff3452;
  --secondaryColor: #ece0c8;
  --pColor: #282c34;
  --BgColor: #f6f7f8;
  --txtColor: #21252b;
  --greyColor: #6e6e6e;
  --nbBgColor: hsl(40, 49%, 85%, 50%);
  --headerHeight: 3rem;
  --box-shadow: 0 2px 4px hsl(216, 13%, 15%, 50%);
  --background: linear-gradient(#f6f7f8, hsl(40, 49%, 85%, 50%));
  --backgroundOp: linear-gradient(hsl(40, 49%, 85%), #f6f7f8);
}

  .footer {
    width: 100%;
    text-align: center;
    background: var(--nbBgColor);
    margin-top: 1rem;
    padding: 1rem 0;

    span {
        text-align: center;
        color: var(--pColor);
        font-size: 15px;
    }
  }